<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd"> 
 
<html lang="en"> 
<head> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
	<title>OpenGraph.In : Finding OpenGraph content within links</title> 
 
  <!-- Framework CSS --> 
	<link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection"> 
	<link rel="stylesheet" href="/static/css/additional.css" type="text/css" media="screen, projection"> 
	<link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print"> 
  <!--[if lt IE 8]><link rel="stylesheet" href="/static/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]--> 
	
	<!-- Import fancy-type plugin for the sample page. --> 
	<link rel="stylesheet" href="/static/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection"> 
	{% block metablock %}
	{% endblock %}
</head> 
 
<body> 
 
	<div class="container">  
		<h1 class="headline"><span class="og">OpenGraph</span>.In</h1> 
		<hr> 
		<h3 class="alt">Unlocking the potential of the OpenGraph Protocol to be a universal API.</h3> 
		<hr> 
		 
			
			{% block mainpanel %}
			{% endblock %}
			
		
		<hr> 
		<div><span class="navfirst"><strong>Made by <a href="http://blog.jaggeree.com/" target="_new">Jaggeree</a>.</strong></span><span class="nav"><a href="/">Home</a></span><span class="nav"><a href="/?url=http://www.opengraph.in/&format=json">View this page's Open Graph as JSON</a></span><span class="nav"><a href="/?url=http://www.opengraph.in/&format=html">View this page's Open Graph as HTML</a></span><span class="nav"><a href="http://opengraphprotocol.org/">Open Graph Protocol Documentation</a></div>
		<hr class="space"> 
		<div><iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.opengraph.in%2F&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light" scrolling="no" frameborder="0" allowTransparency="true" style="border:none; overflow:hidden; width:450px; height:px"></iframe></div>
 
	</div> 
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-4364152-13");
pageTracker._trackPageview();
} catch(err) {}</script> 
</body> 
</html>